<!-- /////////////////////////////////////////////////////////////// -->
<div *ngIf="chart">
  <canvas baseChart id="myCanvas" #myCanvas>{{ chart }}</canvas>
</div>
<!-- /////////////////////////////////////////////////////////////// -->

<hr />

<!-- /////////////////////////////////////////////////////////////// -->
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////// -->

<hr />

<!-- /////////////////////////////////////////////////////////////// -->
<div>
  <div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()">Update</button>
</div>
<!-- /////////////////////////////////////////////////////////////// -->

<hr />

<!-- /////////////////////////////////////////////////////////////// -->
<div style="display: block">
  <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<hr />
<div style="display: block">
  <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<hr />
<div style="display: block">
  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<!-- /////////////////////////////////////////////////////////////// -->

<hr />

 <!-- /////////////////////////////////////////////////////////////// -->
<div class="col-md-6">

  <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
    [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<hr />
<div class="col-md-6">
  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
</div>
<hr />
<div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
  <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
</div>
<!-- /////////////////////////////////////////////////////////////// -->

<hr />

<!-- /////////////////////////////////////////////////////////////// -->
<div style="display: block">
  <canvas baseChart
          [data]="polarAreaChartData"
          [labels]="polarAreaChartLabels"
          [legend]="polarAreaLegend"
          [chartType]="polarAreaChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>
<!-- /////////////////////////////////////////////////////////////// -->