<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{pageTitle}}</h3>
    </div>
  </div>

  <div class="panel-body">
    <div class="form-group"
      [ngClass]="employeeForm.get('fullName').errors == null ? 'has-success' : employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty) == true ? 'has-error' : ''">
      <label class="col-sm-2 control-label" for="fullName">Full Name</label>
      <div class="col-sm-8">
        <input id="fullName" type="text" formControlName="fullName" class="form-control"
          (blur)="logValidationErrors()" />

        <span class="help-block" *ngIf="formErrors.fullName">
          {{formErrors.fullName}}
        </span>
        <!-- <label>{{fullNameLength}}</label> -->
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="email">Contact Preference</label>
      <div class="col-sm-8">
        <label class="radio-inline1">Proficiency
          <input id="email" type="radio" formControlName="contactPreference" value="email" class="form-control" />
          email
        </label>
        <label class="radio-inline1">Intermediate
          <input id="phone" type="radio" formControlName="contactPreference" value="phone" class="form-control" />
          phone
        </label>
      </div>

      <span class="help-block" *ngIf="formErrors.contactPreference">
        {{formErrors.contactPreference}}
      </span>
    </div>

    <div formGroupName="emailGroup">
      <div class="form-group" [ngClass]="{ 'has-error' : formErrors.email }">
        <label class="col-sm-2 control-label" for="email">EMail</label>
        <div class="col-sm-8">
          <input id="email" type="text" formControlName="email" class="form-control" (blur)="logValidationErrors()" />

          <span class="help-block" *ngIf="formErrors.email">
            {{formErrors.email}}
          </span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error' : formErrors.confirmEmail || formErrors.emailGroup }">
        <label class="col-sm-2 control-label" for="confirmEmail">Confirm Email</label>
        <div class="col-sm-8">
          <input id="confirmEmail" type="text" formControlName="confirmEmail" class="form-control"
            (blur)="logValidationErrors()" />

          <span class="help-block" *ngIf="formErrors.confirmEmail || formErrors.emailGroup ">
            {{formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup }}
          </span>
        </div>
      </div>
    </div>

    <div class="form-group"
      [ngClass]="employeeForm.get('phone').errors == null ? 'has-success' : employeeForm.get('phone').errors && (employeeForm.get('phone').touched || employeeForm.get('phone').dirty) == true ? 'has-error' : ''">
      <label class="col-sm-2 control-label" for="phone">Phone</label>
      <div class="col-sm-8">
        <input id="phone" type="text" formControlName="phone" class="form-control" (blur)="logValidationErrors()" />

        <span class="help-block" *ngIf="formErrors.phone">
          {{formErrors.phone}}
        </span>
      </div>
    </div>

    <div class="well">

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="button" class="btn btn-primary" (click)="addSkillButtonClick()"
            [disabled]="employeeForm.get('skills').invalid">Add Skills</button>
        </div>
      </div>

      <div formArrayName="skills" *ngFor="let skill of getFormControl(); let i = index">
        <hr *ngIf="i > 0" style="border: solid 1px;">
        <div [formGroupName]="i">
          <div class="form-group"
            [ngClass]="{'has-error' : skill.controls.skillName.invalid && skill.get('skillName').touched}">
            <label class="col-sm-2 control-label" [attr.for]="'skillName' + i">Skill</label>
            <div class="col-sm-4">
              <input id="{{'skillName' + i}}" type="text" placeholder="Name" formControlName="skillName"
                class="form-control" />
              <span class="help-block"
                *ngIf="!!skill.get('skillName').errors?.required && skill.get('skillName').touched">
                Skill Name is required
              </span>
            </div>
            <div class="col-sm-6" *ngIf="employeeForm.get('skills').length > 1">
              <button class="btn btn-danger btn-sm pull-right" title="Delete skill" (click)="removeSkillButtonClick(i)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>

          <div class="form-group"
            [ngClass]="{'has-error' : skill.controls.experienceInYears.invalid && skill.get('experienceInYears').touched}">
            <label class="col-sm-2 control-label" [attr.for]="'experienceInYears' + i">Experience In Years</label>
            <div class="col-sm-4">
              <input [id]="'experienceInYears' + i" type="text" placeholder="Experience in Years"
                formControlName="experienceInYears" class="form-control" />
              <span class="help-block"
                *ngIf="!!skill.get('experienceInYears').errors?.required && skill.get('experienceInYears').touched">
                experience In Years required
              </span>
            </div>
          </div>

          <div class="form-group"
            [ngClass]="{'has-error' : skill.controls.proficiency.invalid && skill.get('proficiency').touched}">
            <label class="col-sm-2 control-label" [attr.for]="'proficiency' + i">Proficiency</label>
            <div class="col-sm-8">
              <label class="radio-inline1">Proficiency
                <input [id]="'proficiency' + i" type="radio" formControlName="proficiency" value="beginner"
                  class="form-control" />
                Beginner
              </label>
              <label class="radio-inline1">Intermediate
                <input id="intermediate" type="radio" formControlName="proficiency" value="intermediate"
                  class="form-control" />
                intermediate
              </label>
              <label class="radio-inline1">Advanced
                <input id="advanced" type="radio" formControlName="proficiency" value="advanced" class="form-control" />
                Beginner
              </label>
              <span class="help-block"
                *ngIf="!!skill.get('proficiency').errors?.required && skill.get('proficiency').touched">
                Proficiency is Required
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="btn-toolbar">
      <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
      <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
    </div>
  </div>
</form>

<table border="
          1">
  <tr>
    <th style="padding: 10px"> FormGroup </th>
    <th style="padding: 10px"> FormControl (fullName) </th>
  </tr>
  <tr>
    <td style="padding: 10px">
      touched : {{ employeeForm.touched }} <br />
      pristine : {{ employeeForm.pristine }} <br />
      dirty : {{ employeeForm.dirty }} <br />
      valid : {{ employeeForm.valid }} <br />
      Form Values : {{employeeForm.value | json }} <br />
    </td>
    <td style="padding: 10px">
      touched : {{ employeeForm.get('fullName').touched }} <br />
      pristine : {{ employeeForm.get('fullName').pristine }} <br />
      dirty : {{ employeeForm.get('fullName').dirty }} <br />
      valid : {{ employeeForm.get('fullName').valid }} <br />
      fullName Value : {{employeeForm.get('fullName').value }} <br />
    </td>
  </tr>
</table>

<!-- <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
  </div>

  <div class="panel-body">
    <div class="form-group" [ngClass]="employeeForm.get('fullName').errors == null ? 'has-success' :
                                       employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty) == true ? 'has-error' : ''">
      <label class="col-sm-2 control-label" for="fullName">Full Name</label>
      <div class="col-sm-8">
        <input id="fullName" type="text" formControlName="fullName" class="form-control" />
        <label>{{fullNameLength}}</label>

        <span class="help-block" *ngIf="employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)">
          <span *ngIf="employeeForm.get('fullName').errors.required">
            full Name is Required.
          </span>

          <span *ngIf="employeeForm.get('fullName').errors.minlength || employeeForm.get('fullName').errors.maxlength">
            full Name must be greater then 2 charcters and less then 10 charcters.
          </span>
        </span>

      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="email">EMail</label>
      <div class="col-sm-8">
        <input id="email" type="text" formControlName="email" class="form-control" />
      </div>
    </div>

    <div formGroupName="skills">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="skillName">Skill</label>
        <div class="col-sm-4">
          <input id="skillName" type="text" placeholder="Name" formControlName="skillName" class="form-control" />
        </div>
        <div class="col-sm-4">
          <input id="experienceInYears" type="text" placeholder="Experience in Years" formControlName="experienceInYears"
            class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Proficiency</label>
        <div class="col-sm-8">
          <label class="radio-inline">Proficiency
            <input id="proficiency" type="radio" formControlName="proficiency" value="beginner" class="form-control" />
            Beginner
          </label>
          <label class="radio-inline">Intermediate
            <input id="intermediate" type="radio" formControlName="proficiency" value="intermediate" class="form-control" />
            intermediate
          </label>
          <label class="radio-inline">Advanced
            <input id="advanced" type="radio" formControlName="proficiency" value="advanced" class="form-control" />
            Beginner
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="btn-toolbar">
      <button class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
    </div>
  </div>
</form>

<table border="
        1">
  <tr>
    <th style="padding: 10px"> FormGroup </th>
    <th style="padding: 10px"> FormControl (fullName) </th>
  </tr>
  <tr>
    <td style="padding: 10px">
      touched : {{ employeeForm.touched }} <br />
      pristine : {{ employeeForm.pristine }} <br />
      dirty : {{ employeeForm.dirty }} <br />
      valid : {{ employeeForm.valid }} <br />
      Form Values : {{employeeForm.value | json }} <br />
    </td>
    <td style="padding: 10px">
      touched : {{ employeeForm.get('fullName').touched }} <br />
      pristine : {{ employeeForm.get('fullName').pristine }} <br />
      dirty : {{ employeeForm.get('fullName').dirty }} <br />
      valid : {{ employeeForm.get('fullName').valid }} <br />
      fullName Value : {{employeeForm.get('fullName').value }} <br />
    </td>
  </tr>
</table> -->

<app-angular-toaster></app-angular-toaster> <br />
