<div class="container">
  <h2>Form Master</h2>
  <p>:-</p>
  <table class="table">
    <tbody>
      <tr>
        <td>Department</td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Departement List" [(value)]="SelectedDepartement" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let Item of departmentList" [value]="Item.value">
                {{Item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Field Name</td>
        <td>
          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="field name" [(ngModel)]="fieldname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Field Type</td>
        <td>
          <mat-form-field>
            <mat-select placeholder="FieldType List" [(value)]="SelectedFieldType"
              (selectionChange)="fnFieldTypeChange($event);" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let Item of fieldTypeList" [value]="Item.value">
                {{Item.text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="Abbreviation == 'COMBOBOX' || Abbreviation == 'CHECKBOX'">
        <td>Field Data</td>
        <td>
          <table class="table" width="100%">
            <tr>
              <td>
                Sr.No
              </td>
              <td>
                Data
              </td>
            </tr>
            <tr *ngFor="let Item of GetFilteredData(); let i=index">
              <td>
                {{i + 1}}
              </td>
              <td>
                {{Item.data}}
              </td>
            </tr>
          </table>

          &nbsp;
          <mat-form-field class="example-full-width">
            <input autocomplete="off" matInput placeholder="add data" [(ngModel)]="SubFieldName">
          </mat-form-field>

          &nbsp;
          <button class="btn btn-primary" (click)="fnAddFieldData();">Add</button>
        </td>
      </tr>
      <tr>
        <td>Position</td>
        <td>
          <mat-radio-group [(ngModel)]="position">
            <mat-radio-button value="0">Above</mat-radio-button>
            <mat-radio-button value="1">Below</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <td>Required</td>
        <td>
          <mat-radio-group [(ngModel)]="required">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-primary" (click)="fnAdd();">{{btnAddText}}</button> &nbsp;
          <button class="btn btn-warning" (click)="fnCancel();">Cancel</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
          <table class="table" width="100%">
            <tr>
              <td>
                Sr.No
              </td>
              <td>
                Department
              </td>
              <td>
                Field Name
              </td>
              <td>
                Field Type
              </td>
              <td>
                Action
              </td>
              <td>
                Delete
              </td>
            </tr>
            <tr *ngFor="let Item of fieldData; let i=index">
              <td [attr.id]="Item.FormDetailId">
                {{i + 1}}
              </td>
              <td>
                {{Item.DepartmentName}}
              </td>
              <td>
                {{Item.FieldName}}
              </td>
              <td>
                {{Item.FieldTypeText}}
              </td>
              <td>
                <a class="pointer" (click)="fnEditDetail(Item.FormDetailId);">Edit</a>
              </td>
              <td>
                <a class="pointer" (click)="fnDeleteDetail(Item.FormDetailId);">Delete</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>Form Name</td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="form name" name="formname" [(ngModel)]="formname" #name>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
          <table class="table" width="100%">
            <tr>
              <td>
                Sr.No
              </td>
              <td>
                Form Name
              </td>
              <td>
                Action
              </td>
              <td>
                Delete
              </td>
            </tr>
            <tr *ngFor="let Item of formData; let i=index">
              <td [attr.id]="Item.FormMasterId">
                {{i + 1}}
              </td>
              <td>
                {{Item.name}}
              </td>
              <td>
                <a class="pointer" (click)="fnEditMaster(Item.FormMasterId);">Edit</a>
              </td>
              <td>
                <a class="pointer" (click)="fnDeleteMaster(Item.FormMasterId);">Delete</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <button class="btn btn-primary" (click)="fnSave();">Save</button> &nbsp;
          <button class="btn btn-warning" (click)="fnCancelAll();">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>