<div class="title">
  Fusion Charts
</div>
<fusioncharts [chartConfig]=chartConfig [dataSource]=dataSource>
</fusioncharts>

<hr />

<fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSources">
</fusioncharts>

<hr />

<fusioncharts [width]="width" [height]="height" [type]="typepareto2d" [dataFormat]="dataFormat"
  [dataSource]="dataSourcespareto2d">
</fusioncharts>

<hr />
<input type="text" [(ngModel)]="SelectedValue">
<button (click)="fnSetValue()">Gauge</button>
<button (click)="fnSetRandomNumber()">Random Number</button>

<!----------------------------------- gauge ------------------------------------------------>
<ngx-gauge [type]="gaugeType" [value]="gaugeValue" [label]="gaugeLabel" [append]="gaugeAppendText"
  [thresholds]="thresholdConfig" [duration]="1500">
</ngx-gauge>
<hr />
<!----------------------------------- gauge ------------------------------------------------>

<!----------------------------------- rg-gauge-chart ------------------------------------------------>
<rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
  [options]="options" [name]="name" [bottomLabel]="bottomLabel"></rg-gauge-chart>
<!----------------------------------- rg-gauge-chart ------------------------------------------------>