<p>
  bootstrap-popup works!
</p>

<h2>Modal Example</h2>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<ng-multiselect-dropdown [placeholder]="'Select'" [data]="dropdownList" [(ngModel)]="selectedItems"
  [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
</ng-multiselect-dropdown>

<br />

<app-ngbd-pagination-config></app-ngbd-pagination-config>

<br />

<ngb-rating [(rate)]="currentRate"></ngb-rating>
<hr>
<pre>Rate: <b>{{currentRate}}</b></pre>

<!----------------------------------- angular-progress-bar ---------------------------------------------------->
<progress-bar [progress]="progress" [color]="'#488aff'">
</progress-bar>

<progress-bar [progress]="progress" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
</progress-bar>
<!----------------------------------- angular-progress-bar ----------------------------------------------------->

<!----------------------------------- angular-material progress ------------------------------------------------>
<!-- mode="buffer", mode="query" -->
<mat-progress-bar mode="buffer" [value]="progress"></mat-progress-bar>
<hr />
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<!----------------------------------- angular-material progress ------------------------------------------------>

<!----------------------------------- ngx-spinner -------------------------------------------------------------->
<ngx-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<button class="btn btn-primary" (click)="fnLoadingBar()">Loading bar...</button>
<!----------------------------------- ngx-spinner -------------------------------------------------------------->
