<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLinkActive="active" routerLink="home" class="hover"> Home </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="employees" class="hover"> List </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="employees/create" class="hover"> Create </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="formMaster" class="hover"> Form Master </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="chart" class="hover"> Chart </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="chart2" class="hover"> Best Chart </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="toastr" class="hover"> Toastr </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="ng6features" class="hover"> Ng6-Features </a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
