<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Employee Management System</h3>
  </div>
  <div class="panel-body">
    <img src="../assets/images/employee.jpg" class="img-responsive" height="450" width="1000">
  </div>
</div>
