<p>
  angular-toaster works!
</p>
<button (click)="showSuccess()">showSuccess</button> &nbsp;
<button (click)="showError()">showError</button> &nbsp;
<button (click)="showWarning()">showWarning</button> &nbsp;
<button (click)="showInfo()">showInfo</button> &nbsp;
<button (click)="showCustom()">showCustom</button> &nbsp;
<button (click)="showToast()">showToast</button> &nbsp;