<ng-template *ngIf="lessons else loading">
  <div class="lessons-list">
    Lessions
  </div>
</ng-template>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>

<!-- <div class="lesson" *ngIf="lessons" *ngFor="let lesson of lessons">
    <div class="lesson-detail">
        {{lesson | json}}
    </div>
</div>   -->

<ng-container *ngIf="lessons">
  <div class="lesson" *ngFor="let lesson of lessons">
    <div class="lesson-detail">
      {{lesson | json}}
    </div>
  </div>
</ng-container>

<ng-template *ngIf="!shouldSayHello">
  <div>Hello World</div>
</ng-template>

<ng-template>
  This is template block
</ng-template>

<ng-container>
  This is container.
</ng-container>

<div *ngIf="true">Hello World !</div>

<!-- <input type="text" [(ngModel)]="myColor"> -->
<select [(ngModel)]="myColor" (change)="changed($event)" (ngModelChange)="dataChanged($event)">
  <option value='' selected> Select Color </option>
  <option *ngFor="let color of colors" [value]="color">
    {{color}}
  </option>
</select>
myColor-{{myColor}}
<div [dynamicColor]="myColor" defaultValue="red" (valueChange)='displayCounter($event)'>Directive checker</div>

<form (dynamicColor)="onSubmit($event)">
  <button type="submit">Submit</button>
  <p>Status {{ message }}</p>
</form>

<form>
  <button type="button" (dynamicColor)="onCall($event, this.myColor)">Submit</button>
  <p>Status {{ message }}</p>
</form>
<input type="text" [(ngModel)]="myColor">
<app-color [color]="myColor"></app-color>
Color : <input type="text" [(ngModel)]="myColor" [dynamicColor]="myColor" defaultValue="red">
<app-number-parent></app-number-parent>
